body {
	font-family: 'Rokkitt', serif;
	margin: 0;
	padding: 0;
	background-image: url("https://img.freepik.com/vecteurs-libre/fond-cafe-realiste-dessins_157027-1112.jpg?w=1060&t=st=1668691322~exp=1668691922~hmac=32eee1f04c083f8479925e935fcdbcc722a3584af57aacadf255505deee43c42");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right;
}

ul{
	list-style-type: none;
}

.en_tete {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}
.menu ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menu a {
	font-size: 1.5em;
	color: white;
	text-decoration: none;
	margin-right: 20px;
	background-color: transparent;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
}

.menu a:hover {
	animation-name: glow-menu;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes glow-menu {
	from {background-color: transparent; text-decoration: none; color: white}
	to {background-color: white; text-decoration: underline; color: black;}
}

.logo {
	position: relative;
	top: 10px;
}

.titre {
	font-family: 'Pinyon Script', cursive;
	width: auto;
	height: 100px;
	margin: auto;
	padding-bottom: 10px;
	padding-right: 30px;
	font-size: 2em;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	order: 2;
	border-bottom: 3px white solid;
	border-radius: 0 0 50px 0;
	animation: titre-anim 1.3s forwards ease-out;
}

@keyframes titre-anim {
	from {
		transform: translateX(-3000px);
	}
	to {
		transform: translateX(0);
	}
}

/*Fin de la partie "en tête"*/

.corps_page {
	margin: 10px;
	margin-top: 25px;
	color: white;
	font-size: 1.2em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
}

.corps_page a {
	text-decoration: none;
}
article {
	text-align: center;
	margin: 15px;
	margin-bottom: 0;
	padding: 0 3% 10px 3%;
	border: 2px white solid;
	border-radius: 20px;
	box-shadow: 5px 5px 10px black;
	background-color: rgba(0, 0, 0, 0.8);
	width: auto;
	min-width: 300px;
	max-width: 600px;
}

strong {
	text-decoration: underline;
	font-weight: 400;
}

article h2 {
	font-size: 1.7em;
}

article img {
	float: left;
	margin-right: 10px;
	border-radius: 15px;
}

.article {
	background-color: rgba(25, 25, 25, 0.8);
	margin: 10px;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	font-size: 2em;
	color: white;
	width: 200px;
	height: 200px;
	border: 2px white solid;
	border-radius: 20px;
}

.article:hover {
	animation-name: zoom_article;
	animation-duration: 0.5s;
	animation-fill-mode: both;
}
@keyframes zoom_article {
	from {
		font-size: 2em;
		background-color: rgba(25, 25, 25, 0.8);
		color: white;
		width: 200px;
		height: 200px;
		border: 2px white solid;
		box-shadow: 0 0 0 black;
		margin: 10px;
	}
	to {
		font-size: 2.2em;
		background-color: rgba(255, 255, 255, 0.9);
		color: black;
		width: 220px;
		height: 220px;
		border: 2px black solid;
		box-shadow: 3px 3px 10px black;
		margin: 0;
	}
}
/*partie formulaire/contact */

form {
	width: auto;
	height: auto;
	margin: 50px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	max-width: 600px;
	background-color: rgba(0, 0, 0, 0.8);
	border: 2px white solid;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.saisie {
	font-family: 'Rokkitt', serif;
	color: white;
	font-size: 1em;
	width: 300px;
	background: transparent;
	border: none;
	border-bottom: 2px white solid;
	padding: 10px;
	text-align: center;
	transition: border 0.5s, border-radius 0.5s;
}

.saisie:focus {
	border: none;
	border: 2px white solid;
	border-radius: 20px;
}

.message {
	font-family: 'Rokkitt', serif;
	color: white;
	font-size: 1em;
	width: 300px;
	background: transparent;
	border: none;
	border: 2px white solid;
	padding: 10px;
	text-align: center;
	transition: border 0.5s, border-radius 0.5s;
}
.submit {
	width: 150px;
	font-family: 'Rokkitt', serif;
	color: white;
	border: 2px white solid;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 5px;
	cursor: pointer;
	transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.submit:hover {
	background-color: white;
	border: 2px black solid;
	color: black;
}

/*Fin de la partie corps*/

footer {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 0;
	position: fixed;
	bottom: 0;

}

footer .icone {
	width: 30px;
	height: 30px;
	margin: 10px;
	transition: width 0.5s, height 0.5s, margin 0.5s, transform 0.5s, margin_bottom 0.5s;
}

footer .icone:hover {
	width: 50px;
	height: 50px;
	margin: 0;
	margin-bottom: 10px;
	transform: rotate(360deg);
}




@media screen and (max-width: 720px) {
	.titre {
		font-size: 1.5em;
		align-items: flex-start;
		align-content: flex-start;
	}
	.titre h1 {
		position: relative;
		top: 26px;
	}

	article img {
		float: none;
		width: 300px;
		height: 175px;
	}

	article iframe {
		width: 300px;
		height: 175px;
	}

	.menu a {
		font-size: 1.3em;
	}

}

@media screen and (max-width: 425px) {
	.titre {
		font-size: 0.8em;
	}

	.titre h1 {
		position: relative;
		top: 60px;
	}

	.saisie, .message {
		width: 150px;
	}
}

@media screen and (min-width: 1500px) {

	.article {
		width: 300px;
		height: 300px;
		font-size: 3em;
		margin-right: 50px;
	}
	.article:hover {
	animation-name: zoom_article;
	animation-duration: 0.5s;
	animation-fill-mode: both;
}
@keyframes zoom_article {
	from {
		font-size: 3em;
		background-color: rgba(25, 25, 25, 0.8);
		color: white;
		width: 300px;
		height: 300px;
		border: 2px white solid;
		box-shadow: 0 0 0 black;
		margin: 10px;
		margin-right: 50px;
	}
	to {
		font-size: 3.3em;
		background-color: rgba(255, 255, 255, 0.9);
		color: black;
		width: 330px;
		height: 330px;
		border: 2px black solid;
		box-shadow: 3px 3px 10px black;
		margin: -10px;
		margin-right: 40px;
	}
}
}

@media screen and (max-width: 1500px) {
	article {
		max-width: 400px;
	}
}